@charset "UTF-8";
/* шрифты */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap&subset=cyrillic,cyrillic-ext");
/* simple style */
.work-area {
  width: 100%;
  height: 100%; }

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  padding: 24px 0px 24px 0px; }

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.35;
  font-weight: 600;
  color: #000; }

h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #fff;
  padding: 15px 0 30px 0;
  line-height: 1.55;
  text-align: center; }

p, span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 1.55;
  font-size: 12px; }

.container-fluid.no-gutters {
  padding-left: 0px;
  padding-right: 0px; }

/* header style */
.header__background {
  height: 812px;
  background-image: url(../images/5ca1106634e32503f358.jpg);
  background-size: cover;
  background-position: center center;
  position: relative; }

.header__foil {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)); }

.header__info-block {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header__manage {
  display: block;
  text-align: center;
  margin-top: 45px; }

.header__link-excursions, .header__link-test, .test-block__link {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff6600;
  border-radius: 30px;
  border: 1px solid #ff6600;
  text-decoration: none;
  padding: 0px 30px;
  white-space: normal;
  font-family: 'Montserrat', sans-serif;
  height: 60px;
  line-height: 58px;
  font-weight: 700;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 7px 3px; }

.header__link-test {
  border: 1px solid #fff;
  color: #000;
  background-color: #fff; }

@media screen and (max-width: 576px) {
  .header__background {
    height: 812px; }
  .main-title {
    font-size: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500; }
  .sub-title {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 20px; }
  .header__link-excursions, .header__link-test {
    padding: 0px 30px; } }

@media screen and (min-width: 576px) {
  .header__background {
    height: 100vh; }
  .main-title {
    font-size: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px; }
  .sub-title {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 20px; }
  .header__link-excursions, .header__link-test {
    padding: 0px 30px; } }

@media screen and (min-width: 768px) {
  .header__background {
    height: 780px;
    min-height: 680px; }
  .main-title {
    font-size: 68px;
    line-height: 1.17;
    padding-left: 70px;
    padding-right: 70px;
    font-weight: 500; }
  .sub-title {
    font-size: 20px;
    line-height: 1.55;
    font-weight: 200;
    padding-left: 50px;
    padding-right: 50px; }
  .header__link-excursions, .header__link-test {
    padding: 0px 60px; } }

@media screen and (min-width: 992px) {
  .header__background {
    height: 780px;
    min-height: 680px; }
  .main-title {
    padding-left: 10%;
    padding-right: 10%; } }

@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 72px; }
  .sub-title {
    font-size: 22px; } }

/* list-excursions style */
.list-excursions {
  width: 100%;
  background-color: #efefef; }

.variants__item {
  margin-bottom: 20px; }

.variants__item-wrap {
  background-color: #fff;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.variants__item-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.variants__item-info {
  padding: 27px 30px 0px 30px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.about-price {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 2.5px;
  font-size: 10px;
  color: #ff8562; }

.item-info__price {
  margin-bottom: 8px; }

.old-price {
  text-decoration: line-through; }

.item-info__title {
  margin-bottom: 8px; }

.item-info__description {
  margin-bottom: 15px; }

.item-info__buttoms {
  padding: 21px 30px 27px; }

.item-info__buttom {
  color: #ffffff;
  background-color: #1f5bff;
  border-radius: 5px;
  border: 1px solid #1f5bff;
  text-decoration: none;
  margin: 0 4px 8px 0;
  display: inline-block;
  line-height: 1;
  height: 35px;
  line-height: 33px;
  font-size: 13px;
  padding-left: 15px;
  padding-right: 15px;
  white-space: normal;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  vertical-align: middle;
  font-weight: 700; }

.item-info__to-book {
  color: #000;
  background-color: #ffd02b;
  border: 1px solid #ffd02b; }

.test-block__title {
  color: #000;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.23;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto; }

.test-block__sub-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #000000;
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.test-block__link {
  color: #fff;
  background-color: #1f5bff;
  border: 1px solid #1f5bff;
  border-radius: 100px;
  font-size: 16px;
  padding-left: 60px;
  padding-right: 60px;
  text-transform: none;
  max-width: 300px;
  text-align: center; }

.test-block__start-test {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.test-block__arrow {
  color: #c9c9c9;
  fill: #c9c9c9;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 20px; }

@media screen and (max-width: 320px) {
  .list-excursions__variants {
    padding-top: 90px;
    padding-bottom: 90px; }
  .variants__item-img {
    height: 233px;
    min-height: auto;
    max-height: auto; }
  .test-block__title {
    font-size: 30px; }
  .test-block__sub-title {
    font-size: 20px; }
  .list-excursions__test-block {
    padding-bottom: 90px; } }

@media screen and (min-width: 320px) {
  .list-excursions__variants {
    padding-top: 90px;
    padding-bottom: 90px; }
  .variants__item-img {
    height: auto;
    min-height: 233px;
    max-height: 358px; }
  .test-block__title {
    font-size: 30px; }
  .test-block__sub-title {
    font-size: 20px; }
  .list-excursions__test-block {
    padding-bottom: 90px; } }

@media screen and (min-width: 480px) {
  .list-excursions__variants {
    padding-top: 135px;
    padding-bottom: 135px; }
  .list-excursions .row .col-sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .variants__item-img {
    height: auto;
    min-height: 175px;
    max-height: 175px; }
  .list-excursions__test-block {
    padding-bottom: 135px; } }

@media screen and (min-width: 500px) {
  .variants__item-img {
    height: auto;
    min-height: 183px;
    max-height: 183px; } }

@media screen and (min-width: 520px) {
  .variants__item-img {
    height: auto;
    min-height: 191px;
    max-height: 191px; } }

@media screen and (min-width: 576px) {
  .variants__item-img {
    height: auto;
    min-height: 215px;
    max-height: 215px; }
  .test-block__title {
    font-size: 44px; }
  .test-block__sub-title {
    font-size: 22px; } }

@media screen and (min-width: 768px) {
  .variants__item-img {
    height: auto;
    min-height: 233px;
    max-height: 233px; } }

@media screen and (min-width: 992px) {
  .variants__item-img {
    height: auto;
    min-height: 250px;
    max-height: 300px; } }

/* advantages style */
.advantages {
  width: 100%;
  height: 100%; }

.advantages__background {
  background-image: url(../images/5ca654a439c64380fab7.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 1242px; }

.advantages__foil {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 1242px; }

.advantages__info-block {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.advantages__title {
  line-height: 1.23; }

.advantages__sub-title {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-align: center;
  margin-top: 26px;
  padding-right: 15px;
  padding-left: 15px; }

.advantages__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px; }

.advantages__img {
  width: 100px;
  height: 100px; }

.advantages__item-title {
  line-height: 1.35;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 18px; }

.advantages__item-description {
  color: #fff;
  line-height: 1.55;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px; }

.advantages__info-block .row {
  margin-top: 70px; }

@media screen and (max-width: 576px) {
  .advantages__title {
    font-size: 30px; }
  .advantages__sub-title {
    font-size: 16px;
    line-height: 1.45; }
  .advantages__item-title {
    font-size: 16px; } }

@media screen and (min-width: 576px) {
  .advantages__title {
    font-size: 48px; }
  .advantages__sub-title {
    font-size: 20px;
    line-height: 1.55; }
  .advantages__item-title {
    font-size: 18px; } }

/* fotos style */
.instagram_gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.fotos__title {
  line-height: 1.23;
  color: #000;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 40px; }

.fotos__sub-title {
  line-height: 1.4;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #000;
  text-align: center;
  padding-bottom: 90px; }

.instagram-image img, .instagram-video img {
  width: 100%; }

@media screen and (max-width: 576px) {
  .fotos {
    padding-top: 90px;
    padding-bottom: 90px; }
  .fotos__title {
    font-size: 30px; }
  .fotos__sub-title {
    font-size: 20px; }
  .instagram_gallery {
    padding-left: 10px;
    padding-right: 10px; }
  .instagram-image, .instagram-video {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px; }
  .instagram-image, .instagram-video {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0; } }

@media screen and (min-width: 576px) {
  .fotos {
    padding-top: 135px;
    padding-bottom: 135px; }
  .fotos__title {
    font-size: 38px; }
  .fotos__sub-title {
    font-size: 22px; }
  .instagram_gallery {
    padding-left: 0px;
    padding-right: 0px; }
  .instagram-image, .instagram-video {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px; }
  .instagram-image, .instagram-video {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0; } }

@media screen and (min-width: 768px) {
  .instagram-image, .instagram-video {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0; } }

@media screen and (min-width: 992px) {
  .instagram-image, .instagram-video {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0; } }

/* questions style */
.questions {
  width: 100%;
  height: 100%; }

.questions__background {
  height: 600px;
  background-image: url(../images/5ca653631ef2f2e518cc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  vertical-align: middle;
  position: relative; }

.questions__foil {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute; }

.questions__info-block {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.questions__title {
  line-height: 1.23;
  padding-top: 0px;
  padding-bottom: 0px; }

.questions__sub-title {
  line-height: 1.4;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px; }

.form-block__form, .questions__list-messages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 670px;
  margin-left: auto;
  margin-right: auto; }

.form-block__field {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.form-block__input {
  width: 100%;
  color: black;
  font-size: 16px;
  font-weight: 400;
  height: 56px;
  line-height: 1.33;
  font-family: 'Montserrat', sans-serif;
  outline: none; }

.form-block__btn {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px; }

.questions__list-messages {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0px; }

.questions__item-message {
  width: 100%;
  padding: 15px 10px 20px;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 20px;
  line-height: 1.55;
  font-weight: 400;
  margin: 10px auto; }

.questions__item-message.not-ok {
  background-color: #F95D51;
  display: none; }

.questions__item-message.ok {
  background-color: #62C584;
  display: none; }

.questions__item-message.not-ok.active, .questions__item-message.ok.active {
  display: block; }

@media screen and (max-width: 576px) {
  .questions__title {
    font-size: 30px; }
  .questions__sub-title {
    font-size: 20px;
    margin-bottom: 32px; }
  .form-block__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .form-block__field {
    margin-top: auto;
    margin-bottom: 20px;
    padding-right: 0px; }
  .form-block__btn {
    display: block;
    padding-right: 40px;
    padding-left: 40px; } }

@media screen and (min-width: 576px) {
  .questions__title {
    font-size: 44px; }
  .questions__sub-title {
    font-size: 20px;
    margin-bottom: 74px; }
  .form-block__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .form-block__field {
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 20px; }
  .form-block__btn {
    display: inline-block;
    padding-right: 40px;
    padding-left: 40px; } }

@media screen and (min-width: 992px) {
  .form-block__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; } }

/* footer style */
